rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth != null && (request.auth.token.email == 'valhalla.escaldo@gmail.com' || request.auth.token.email == 'rober.junin@gmail.com');
    }

    // Perfiles de usuario (Público para leer el propio, privado para el resto)
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Inscripciones registradas
    match /inscriptions/{document} {
      allow create: if true;
      allow get: if true;
      allow read, write: if isAdmin();
    }

    // Órdenes de la Armería (Tienda)
    match /orders/{document} {
      allow create: if true;
      allow read, write: if isAdmin();
    }

    // Productos y Tarifas (Públicos para leer, Privados para editar)
    match /products/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /plans/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /jarls/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /disciplines/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /settings/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /notifications/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Finanzas (100% Privado)
    match /finances/{document=**} {
      allow read, write: if isAdmin();
    }

    // Cerramos el resto de la DB
    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
