rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Inscripciones registradas
    match /inscriptions/{document} {
      // Cualquier persona puede crear su inscripción.
      allow create: if true;
      // Cualquier persona puede visualizar el comprobante con su ID explícito
      allow get: if true;
      // Bloquea listar todas las inscripciones o borrarlas
      allow list, update, delete: if false;
    }

    // Órdenes de la Armería (Tienda)
    match /orders/{document} {
      // Permite agregar órdenes de compra libremente
      allow create: if true;
      // Impide extraer o borrar ventas
      allow read, update, delete: if false;
    }

    // Cerramos el resto de la DB para evitar lecturas/escrituras fantasma
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
